---
title: "What's in a Pod?"
---
<header markdown="1">
# <%= @item[:title] %>

## A knowledge graph interpretation for the Solid ecosystem

{:#authors}
- <%= person 'Ruben Dedecker', 'https://rubendedecker.be/', 'https://pod.rubendedecker.be/profile/card#me' %>¹
- <%= person 'Wout Slabbinck', 'https://github.com/woutslabbinck/', 'https://woslabbi.pod.knows.idlab.ugent.be/profile/card#me' %>¹
- <%= person 'Jesse Wright', 'https://github.com/jeswr', 'https://id.inrupt.com/jeswr' %>²
- <%= person 'Patrick Hochstenbach', 'https://patrickhochstenbach.net', 'https://hochstenbach.solidcommunity.net/profile/card#me' %>¹
- <%= person 'Pieter Colpaert', 'https://pietercolpaert.be/', 'https://pietercolpaert.be/#me' %>¹
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>¹

{:#affiliations}
- {:#idlab} ¹IDLab,
  Department of Electronics and Information Systems,
  Ghent University – imec
- {:#anu} ²Australian National University,
  College of Engineering & Computer Science

<section class="context" markdown="block">
## In reply to
- [QuWeDa 2022 call for papers](http://www.wikicfp.com/cfp/servlet/event.showcfp?eventid=159481){:rel="as:inReplyTo"}
</section>

</header>


<div id="content">

<%= section '0_abstract' %>

<main>
  <%= section '1_introduction' %>
  <%= section '5_conclusion' %>
  <%= section '6_acknowledgements' %>
</main>

<footer></footer>
</div>
