---
title: "What's in a Pod?"
---
<header markdown="1">
# <%= @item[:title] %>

## Understanding Solid's decentralized knowledge graphs

{:#authors}
- <%= person 'Ruben Dedecker', 'https://rubendedecker.be/', 'https://rubendedecker.be/#me' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
  Department of Electronics and Information Systems,
  Ghent University – imec

<%= section '0_abstract' %>
</header>

<main>
  <%= section '1_introduction' %>
  <%= section '2_problem_statement' %>
  <%= section '3_vision' %>
  <%= section '4_comparison' %>
  <%= section '5_conclusion' %>
</main>

<footer></footer>
