---
title: "What's in a Pod?"
---
<header markdown="1">
# <%= @item[:title] %>

## A knowledge graph interpretation of the Solid ecosystem

{:#authors}
- <%= person 'Ruben Dedecker', 'https://www.rubendedecker.be/', 'https://pod.rubendedecker.be/profile/card#me' %>
- <%= person 'Wout Slabbinck', '', ''  %>
- <%= person 'Jesse Wright', '', ''    %>
- <%= person 'Pieter Colpaert', '', '' %>
- <%= person 'Ruben Verborgh', 'https://ruben.verborgh.org/', 'https://ruben.verborgh.org/profile/#me' %>

{:#affiliations}
- {:#idlab} IDLab,
  Department of Electronics and Information Systems,
  Ghent University – imec

<%= section '0_abstract' %>
</header>

<main>
  <%= section '11_overview_v2' %>
  <%= section '1_introduction' %>
  <%= section '2_problem_statement' %>
  <%= section '3_vision' %>
  <%= section '4_comparison' %>
  <%= section '5_conclusion' %>
  <%= section '6_acknowledgements' %>
</main>

<footer></footer>
